<div class="container-new">
  <h1>Create a new service</h1>

  <%= simple_form_for @service do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
