<div class="container container-show">
  <div class="event">
  <h1><%= @service.name %></h1>
    <h3><%= @service.category %></h3>
    <% if @service.image.nil? %>
      <img src="https://images.unsplash.com/photo-1540039155733-5bb30b53aa14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80" />
    <% else %>
      <img src="<%= @service.image %>" alt="">
    <% end %>
    <p> Price: <%= @service.price %> € </p>
    <p class="event-description"> <%= @service.description %> </p>
  </div>

  <% unless @service.user == current_user %>
    <div class = "reservation">
    <h2>New reservation</h2>

    <%= simple_form_for [@service, @booking] do |f| %>
      <%= f.input :start_date, as: :date, start_year: Date.today.year + 10,
                                  end_year: Date.today.year,
                                  order: [:day, :month, :year] %>
      <%= f.input :end_date, as: :date, start_year: Date.today.year + 10,
                                  end_year: Date.today.year,
                                  order: [:day, :month, :year] %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

    </div>
  <% end %>
  </div>
