<div class="container">
  <div class="event">
  <h1><%= @service.name %></h1>
    <h3><%= @service.category %></h3>
    <img src="https://i0.wp.com/theb-stage.com/wp-content/uploads/2022/05/Beyonce-performs-onstage-in-2009.-Photo-by-Jason-LaVerisFilmMagic.png?zoom=2&resize=800%2C445&ssl=1" />
    <p> Price: <%= @service.price %> € </p>
    <p class="event-description"> <%= @service.description %> </p>


  </div>


  <div class = "reservation">
  <h2>New reservation</h2>

  <%= simple_form_for [@service, @booking] do |f| %>
    <%= f.input :start_date, as: :date, start_year: Date.today.year + 10,
                                end_year: Date.today.year,
                                order: [:day, :month, :year] %>
    <%= f.input :end_date, as: :date, start_year: Date.today.year + 10,
                                end_year: Date.today.year,
                                order: [:day, :month, :year] %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

  </div>
</div>
