<div class="container-profile" >
 <h1 class="title">Hello, <%= current_user.first_name %>  👋</h1>

<div class="d-flex">
  <div class="card">
    <h2 class="booking-title">My bookings</h2>
      <% if current_user.bookings.any? %>
        <% current_user.bookings.each do |booking|%>
        <div  class="i-booked">
          <p> <strong class='mini-title'>Service:</strong> <%= booking.service.name %></p>
          <p> <strong class='mini-title'>From:</strong> <%= booking.start_date %></p>
          <p><strong class='mini-title'>To:</strong> <%= booking.end_date %></p>
        </div>
        <% end %>
    <% else %>
      <p>Nothing here</p>
    <% end %>
  </div>
  <div class="card">
    <h2 class="booked-title">Who booked me?</h2>
    <% if @sorted_services.any? %>
        <% @sorted_services.each do |booking|%>
        <div class="profile-booked">
        <div>
          <p><strong class='mini-title'>Service:</strong> <%= booking.service.name %></p>
          <p><strong class='mini-title'>booked by:</strong> <%= booking.user.username %></p>
          <p> <strong class='mini-title'>From:</strong> <%= booking.start_date %></p>
          <p><strong class='mini-title'>To:</strong> <%= booking.end_date %></p>
          </div>
          <div class="status">
          <% if booking.status == "Accepted" %>
          <p class="accepted-offer">You accepted this offer</p>
          <% else %>
          <%= link_to 'Accept', accept_path(booking), class: "btn btn-success mx-2", data: {turbo_method: :patch} %>
          <%= link_to 'Decline', decline_path(booking), class: "btn btn-danger", data: {turbo_method: :patch}%>
          <% end %>
          </div>
          </div>
        <% end %>
    <% else %>
      <p>Nothing yet</p>
    <% end %>
    </div>
  </div>
  <%= image_tag("#{image_path 'bro.png'}", alt: "figma", id: 'profile_background_image') %>
</div>
