<h1>Welcome to your profile page</h1>

<h2>My bookings</h2>
  <% if current_user.bookings.first %>
    <% current_user.bookings.each do |booking|%>
    <%= booking.service.name %>
    <%= booking.user.username %>
    <%= booking.start_date %>
    <%= booking.end_date %>

    <% end %>
<% else %>
  <p>Nothing here</p>
<% end %>

<h2>Who booked me?</h2>
<% if current_user.requested_services.first %>
    <% current_user.requested_services.each do |booking|%>
      <%= booking.service.name %>
      <%= booking.user.username %>
      <%= booking.start_date %>
      <%= booking.end_date %>
    <% end %>
<% else %>
  <p>Nothing here</p>
<% end %>
