<h1>Welcome to your profile page</h1>

<h2>My bookings</h2>
  <% if current_user.bookings.first %>
    <% current_user.bookings.each do |booking|%>
    <p> <strong>Service:</strong> <%= booking.service.name %></p>
    <p> <strong>From:</strong> <%= booking.start_date %></p>
    <p><strong>To:</strong> <%= booking.end_date %></p>


    <% end %>
<% else %>
  <p>Nothing here</p>
<% end %>

<h2>Who booked me?</h2>
<% if current_user.requested_services.first %>
    <% current_user.requested_services.each do |booking|%>
      <p><strong>Service:</strong> <%= booking.service.name %></p>
      <p><strong>booked by:</strong> <%= booking.user.username %></p>
      <p> <strong>From:</strong> <%= booking.start_date %></p>
      <p><strong>To:</strong> <%= booking.end_date %></p>
    <% end %>
<% else %>
  <p>Nothing yet</p>
<% end %>
